/* Generics */
body {
    font-family: 'Lato', sans-serif;
}

.clickable {
    cursor: pointer;
}

/* Header */
#sony-bar {
    height: 40px;
    background-color: black;
    text-align: right;
}

#sony-bar img {
    width: 80px;
    position: relative;
    top: 15%;
    right: 0;
}

#nav-content {
    font-size: 16px;
    background-color: #fff;
}

#nav-content .logo-container img {
    width: 60px;
}

#nav-content li img {
    width: 10px;
}

#nav-content li img.lens {
    width: 30px;
}

.nav-menu-right,
.hamburger-menu {
    text-align: right;
}

.cs-bi-list {
    font-size: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

/* First jumbotron */
#main-jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 250px;
    padding-bottom: 50px;
}

.jumbotron {
    margin-top: 100px;
}

.btn-orange {
    background-color: #CD3D0F;
}

.hero-logo {
    max-width: 60%;
}

h1, h2 {
    font-size: 40px;
}

.jumbo-article p {
    font-size: 16px;
}

/* Cards */
.cards img,
.console img,
.devices img,
.games img {
    max-width: 100%;
    border-radius: 20px;
}

.cards .border-active {

}

.play-5 p.cs-text-blue {
    color: #0072CE;
}

.btn-blue {
    background-color: #0072CE;
}

.devices img.inactive {
    opacity: 0.6;
}

.devices .active {
    border-bottom: 2px solid #0072CE;
}

.first-devices p {
    text-align: center;
}

sup {
    font-size: 8px;
}

/**Second Jumbotron**/
#second-jumbotron{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 50px;
}

/**Games**/
.games-title, .games {
    background-color: #1F1F1F;
}

/* Footer */
