/* Generics */
body {
    font-family: 'Lato', sans-serif;
}

.clickable {
    cursor: pointer;
}

/* Header */
#sony-bar {
    height: 40px;
    background-color: black;
    text-align: right;
}

#sony-bar img {
    width: 80px;
    position: relative;
    top: 15%;
    right: 0;
}

#nav-content {
    font-size: 16px;
    background-color: #fff;
}

#nav-content .logo-container img {
    width: 60px;
}

#nav-content li img {
    width: 10px;
}

#nav-content li img.lens {
    width: 30px;
}

.nav-menu-right,
.hamburger-menu {
    text-align: right;
}

.cs-bi-list {
    font-size: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

/* First jumbotron */
#main-jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 350px;
    padding-bottom: 50px;
}

body {
    margin-top: 100px;
}

.btn-orange {
    background-color: #CD3D0F;
}

.hero-logo {
    max-width: 60%;
}

h1, h2 {
    font-size: 38px;
}

.jumbo-article p {
    font-size: 16px;
}

/* Cards */
.cards img,
.console img,
.devices img,
.games img {
    max-width: 100%;
    border-radius: 20px;
}

.border-active-blue {
    padding: 3px;
    box-shadow: 0 0 0 2px #0072CE;
}

.border-orange:hover {
    outline: none;
    box-shadow: 0 0 0 2px #CD3D0F;
}

.cs-text-blue {
    color: #0072CE;
}

.btn-blue {
    background-color: #0072CE;
}

.devices img.inactive {
    opacity: 0.6;
}

.devices .active {
    border-bottom: 2px solid #0072CE;
}

.first-devices p {
    text-align: center;
}

sup {
    font-size: 8px;
}

/**Second Jumbotron**/
#second-jumbotron{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 50px;
}

/**Games**/
.games-title, .games {
    background-color: #1F1F1F;
}

/**Third Jumbotron**/
#third-jumbotron{
    background-color: #BEBCBB;
    min-height: 300px;
}

.ps-plus-banner {
    width: 100%;
    height: 100%;
}

.ps-plus-logo {
    width: 70%;
}

.btn-grey {
    background-color: #D9DADC;
    width: 200px;
}

.discounted-games img,
.social-media img {
    max-width: 100%;
}

/**Blue Jumbotron**/
#blue-jumbotron{
    background-color: #161C3B;
    min-height: 300px;
}

.ps-now-banner {
    width: 100%;
    height: 100%;
}

.ps-now-logo {
    width: 70%;
}

.btn-white {
    background-color: #fff;
    width: 205px;
}

/* Footer */
#menu-bottom {
    background-color: #00439C;
}

img.bottom-logo {
    width: 110px;
}

img.region {
    width: 20px;
}

img.sie-logo {
    width: 150px;
}